@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.eot");
  src: local("Raleway Light"), local("Raleway-Light"),
    url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("Raleway Medium"), local("Raleway-Medium"),
    url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
